{$CADDY_HOME_DOMAIN} {
  proxy / organizr {
    except /browse
  }

  filemanager /browse /mnt/data {
    no_auth
  }

  reauth {
    path /browse
    failure redirect target=https://{%CADDY_HOME_DOMAIN%}
    upstream url=https://{%CADDY_HOME_DOMAIN%}/auth.php?user,cookies=true
  }

}

{$CADDY_PORTAINER_DOMAIN} {
  proxy / portainer:9000
}

{$CADDY_HASS_DOMAIN} {
  proxy / 172.18.0.1:8123 {
    websocket
    transparent
  }
}

# {$CADDY_PLEX_DOMAIN} {
#   proxy / 172.18.0.1:32400
# }

{$CADDY_TORRENTS_DOMAIN} {
  proxy / transmission:9091
}
